*~
bin/*
bin_test/*
dep/*
obj/*
lib/*
doc/*
CMakeFiles/*
.vscode/*
CMakeCache.txt
cmake_install.cmake
CMakeLists.txt
configure
*.txt
CPackConfig.cmake
CPackSourceConfig.cmake
_CPack_Packages/
install_manifest*
Makefile
*.cbp
*.user
